{% extends 'base.html' %}

{% block content %}
    <h1>These are the notes : </h1>
    <div class="row row-cols3 g-2">
        {% for note in notes %}
        <div class="col p-2 border border-dark">
            <a href="{% url 'notes.detail' pk=note.id %}" class="btn btn-link text-dark">{{note.title}}</a>
            <p>{{note.content}}</p>
        </div>

        {% endfor %}
    </div>
    <a href="{% url 'notes.new' %}" class="btn btn-primary mt-3">Create New Note</a>
    <a href="{% url 'notes.list' %}" class="btn btn-secondary mt-3">Back to Notes List</a>
{% endblock %}