<h1> Order a Pizza</h1>

<form action="{% url 'order' %}",method="POST"> 
    {% csrf_token %}
    <label for="topping1">Topping1 </label>
    <input type="text" id="topping1" name="topping1">

    <label for="topping2">Topping2 </label>
    <input type="text" id="topping2" name="topping2">

    <label for="size">size </label>
    <select id="size" name="size">
        <option value="small">Small</option>
        <option value="medium">Medium</option>
        <option value="large">Large</option>
    </select>
    <input type="submit" value="Place Order">
</form>